venv/
/SQLiteDatabaseBrowserPortable/
__pycache__/
.pytest_cache/
.coverage
htmlcov/
/flaskr/test_this.db
/flaskr/users.db
/flaskr/users_toDo.db
/flaskr/static/img/user_pic/*
/flaskr/test.txt
setting.ini
email.ini
.idea