body {
    min-height: 100%;
    background-image: url('/static/img/25101.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.about-container {
    width: 70%;
    min-width: 600px;
    margin: auto;
    padding-top: 20px;
    font-size: 25px;
}

.tabs-container {
    display: flex;
    text-align: center;
    height: 55px;
    gap: 20px;
    cursor: pointer;
}

.tabs-container div {
    position: relative;
    width: 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 10px 5px 5px 0px rgba(61, 45, 45, 0.35);
}

.tabs-container div.site-about {
    background-color: rgba(193, 193, 193, 0.7);
    font-weight: bold;
}

.tabs-container div.dev-about {
    background-color: rgba(76, 152, 175, 0.7);
    font-weight: bold;
}

.tabs-container .site-about:hover:not(.active) {
    background-color: rgba(193, 193, 193, 0.95);
}

.tabs-container .dev-about:hover:not(.active) {
    background-color: rgba(76, 152, 175, 0.95);
}

.tabs-container div span {
    position: absolute;
    bottom: 5px;
    transform: translateX(-50%);
}

.tab-content {
    position: relative;
    background-color: rgba(193, 193, 193, 0.7);
    border-top: black 1px solid;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    box-shadow: 10px 5px 5px 0px rgba(61, 45, 45, 0.35);
}

.source {
    padding-top: 35px;
}

.source .source-title {
    text-decoration: underline;
    font-size: 18px;
}

.source .source-list {
    position: relative;
    left: 25px;
    font-size: 15px;
}