/* tab menu */

.side-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.side-menu a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    font-size: 120%;
}

.side-menu .active:not(.menu-delete) {
    background-color: #4bbe16c4;
}

.side-menu .menu-delete.active {
    background-color: rgb(168, 167, 167);
}

.side-menu li:hover:not(.active) {
    background-color: #7fc55f5d;
}

.fa-exclamation-triangle {
    display: none;
}

.side-menu>li.menu-delete:hover>a,
li.menu-delete.active>a {
    color: rgb(184, 14, 14);
}

.side-menu>li.menu-delete:hover>a>i,
li.menu-delete.active>a>i {
    display: contents;
}

.profile-info {
    margin-left: 10%;
    padding: 10px 16px;
    font-size: large;
}

.profile-info form {
    margin-bottom: 10px;
}


/* general tab */

.user-name {
    display: block;
    padding: 10px 10px;
    font-size: x-large;
}

.alert-message.block-message.upload {
    list-style: none;
    font-size: small;
    color: red;
    font-style: italic;
    font-weight: bold;
    background-color: #cac9c9;
    width: max-content;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.fas.fa-exclamation {
    scale: 170%;
    position: relative;
    top: 10px;
}

.alert-message.block-message.upload li {
    grid-column: 2;
}

.button {
    font-size: medium;
}


/* change tab */

.change-password {
    display: block;
    width: 325px;
}

.change-form-continer div.grid-continer {
    display: grid;
    grid-template-columns: 155px max-content;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    padding-bottom: 10px;
}

.change-form-continer .submit-button {
    grid-column-start: 1;
    grid-column-end: 2;
}

.alert-message.block-message.change,
.change-psw-error {
    text-align: center;
    color: rgba(255, 0, 0, 0.822);
    background-color: #cac9c9;
    display: block;
    margin-bottom: 5px;
    margin-top: -6px;
    margin-left: 10px;
    width: 70%;
}

.alert-message.delete-msg {
    text-align: center;
    color: rgba(255, 0, 0, 0.822);
    background-color: #cac9c9;
    width: max-content;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
}