body {
    background-image: url('/static/img/13.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

h3 {
    width: max-content;
    margin: auto;
    padding: 20px;
    font-size: x-large;
}

.warper-form {
    position: relative;
    margin: auto;
    background-color: rgba(29, 48, 153, 0.267);
    height: 312px;
    width: 250px;
    padding: 37px 57px;
    border-radius: 30px;
    border: dashed 2.5px aliceblue;
}

.form-continar {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
    font-weight: bold;
}

.input-continer {
    display: flex;
    justify-content: space-between;
}

.input-continer input {
    margin-left: 20px;
    border: transparent;
    border-radius: 5px;
    height: 20px;
}

.input-continer #gender {
    border: transparent;
    width: 30%;
}

.submit-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 30%;
    border: transparent;
    border-radius: 10px;
    height: 25px;
    font-weight: bold;
}

.input-tooltip-box {
    position: relative;
}

.exists-error {
    position: absolute;
    top: 20px;
    text-align: center;
    font-style: italic;
}

.exists-error {
    position: absolute;
    text-align: center;
    color: red;
    font-style: italic;
}

.error {
    position: absolute;
    color: #ce0202;
    font-size: 13px;
    z-index: 1;
    width: max-content;
    max-width: 215px;
    left: 105%;
    padding: 5px;
    text-align: center;
    font-style: italic;
    background-color: #f0eacf;
    top: -3px;
    border-radius: 5px;
}