.todo-continer {
    padding-left: 10px;
    padding-top: 20px;
    font-family: 'Charm';
    font-size: xx-large;
    width: max-content;
    margin: auto;
}

.todo-input {
    border: none;
    border-color: transparent;
    font-family: 'Charm';
    font-size: xx-large;
    width: 35%;
    background: transparent;
}

.todo-input-pencil {
    position: relative;
    top: 10px;
    height: 40px;
    width: 40px;
}


/* todolist item */

.list-items {
    list-style-type: none;
    margin: 0;
    width: max-content;
    max-width: 700px;
}

.marked,
.not-marked {
    position: relative;
    display: flex;
    flex-flow: row;
    max-width: 700px;
    min-width: 350px;
    padding-bottom: 10px;
    border-bottom: 1.5px dashed;
}

.marked>.todo-item:hover {
    text-decoration: line-through;
    text-decoration-color: rgba(0, 0, 0, 0.35);
}

.not-marked>.todo-item:hover {
    text-decoration: line-through;
    text-decoration-color: rgba(0, 0, 0, 0.65);
}

.marked>span {
    text-decoration: line-through;
}

li.marked::before {
    content: '';
    position: absolute;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0 3px 3px 0;
    left: -25px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    align-self: center;
}

.list-item-button-continer {
    display: flex;
    margin-left: auto;
    align-self: center;
    left: 10px;
    position: relative;
}

.eraser {
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
}

.complete-button {
    position: relative;
    top: 5px;
    width: 30px;
    height: 30px;
}


/* not logged alert */

.not-logged-alert {
    padding: 20px;
    background-color: #f0c44d;
    color: black;
    width: 45%;
    min-width: 600px;
    border-radius: 30px;
    position: relative;
    margin: auto;
    top: 10px;
    text-align: center;
}

.not-logged-alert-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.not-logged-alert-closebtn:hover {
    color: black;
}