{% extends "base.html" %} {% block content %}
<html>

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="static/styles/about.css">
    <script type="text/javascript" src="static\scripts\about.js"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</head>

<div class="about-container">
    <div class="tabs-container">
        <div class="site-about active" onclick="switchTab('site')"><span>Site about</span></div>
        <div class="dev-about" onclick="switchTab('dev')"><span>About me</span></div>
    </div>
    <div class="tab-content">
        <div class="content-site">
            <p>This site is a front-end of a Python Flask project, although not meant to be publicly open and use by a lot of people it was developed with that in mind. Every ‘POST’ to the server is first checked by the JavaScript to prevent needles requests
                to the server. Some ‘POST’s are done by jQuery to ‘live’ up date the page when needed. </p>
            <p>Page ‘live’ update is used in the register page, to check if the ID and E-mail are free, and in the ToDo List page when logged in for every change to the list to prevent reloading the page every time and there for make it easy for user use
                and the server to not ‘GET’ the page over and over again. This part took some time in reading research and testing but at the end the right combo site and server sides was found.</p>
            <p>The site use Flask-Jinja build in flow control (if, while, for…) function in the HTML of the rendered template to show the relevant info or use the logged or not logged page variant. This is used to get and show flash massages to the user
                from checks the server have done, and for multi- access pages to switch the buttons. In the ToDo List page the ‘if’ capability is used to switch from the logged and not logged page, and the ‘for’ is used to load the user list from the
                server as he load in the page.</p>
            <p>The work on the front-end forced me to dive deep in to learning HTML, CSS, JavaScript and jQuery by reading documentations, guides and doing a lot of test. Not only showing I can learn new things by myself, but showing I can learn new thing
                without any real background in the subject.</p>
            <div class="source">
                <span class='source-title'>Media sources:</span>
                <div class="source-list">
                    <li>Some background originally Designed by <a href="https://www.freepik.com/">freepik</a></li>
                    <li>Some icons originally Designed by <a href="https://icons8.com/">icons8</a></li>
                </div>
            </div>
        </div>
        <div class="content-dev" hidden>
            <div class="content-dev-text">
                <p>Hello,</p>
                <p>I’m Itai, the developer of this flask project for all its parts. I have completed with distinction a python developer course at <a href="https://www.int-college.co.il/">INT college</a>, as the “final project” I took upon myself a Flask
                    project and started to branch out from there in to SQL, HTML, JavaScript, jQuery and CSS.</p>
                <p>I’m a very reliable and hard worker, I will dig deeper in the code to get the best result and as I wanted it to be and function. I have the ability to self-taught, must of this project was done in that manner, using documentations, stackoverflow
                    and a lot of tests.</p>
                <p>Hope to hear from you and go forward,</p>
                <p>Itai Dotan.</p>
            </div>
            <div class="linkedin-badge">
                <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="idotan"><a class="LI-simple-link" href='https://il.linkedin.com/in/idotan?trk=profile-badge'>Itai Dotan</a></div>
                <span class="linkedin-script-alert">*allow linkedin script to see  the badge</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}