<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Web Project</title>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='styles/navbar.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/site icon.png') }}">
</head>

<body>
    <section class="navigation">
        <nav class="navigation-bar">
            <li class="nav-home">
                <a href="{{ url_for('main.index') }}">
                    Home
                </a>
            </li>
            <li class="nav-toDo">
                <a href="{{ url_for('toDoList.to_do_list') }}">
                    ToDoList
                </a>
            </li>
            {% if name %}
            <li class="nav-profile">
                <a href="{{ url_for('profile.profile_page') }}">
                    profile
                </a>
            </li>
            <li class="user-nav">
                <a href="{{ url_for('auth.logout') }}">
                    Logout
                </a>
            </li>
            {% else %}
            <li class="user-nav nav-signIn">
                <a href="{{ url_for('auth.login') }}">
                    Login
                </a>
            </li>
            <li class="user-nav nav-signUp">
                <a href="{{ url_for('auth.signup') }}">
                    Sign Up
                </a>
            </li>
            {% endif %}
            <li class="about">
                <a href="{{ url_for('main.about') }}">
                    About
                </a>
            </li>
        </nav>
    </section>
    <section class="open-page">
        {% block content %} {% endblock %}
    </section>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/navbar.js') }}"></script>
</body>

</html>