{% extends "base.html" %}

{% block content %}
<html>
<style>
  .center {
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
</style>
<body style="background-image: url('https://previews.123rf.com/images/vska/vska1607/vska160700059/60629281-abstract-digital-web-site-header-banner-technology-background.jpg');
background-repeat: no-repeat; background-size: cover; background-attachment: fixed; ">
  <div style="height: 280px;">
    <div class="center">
      {% if name != "" %}
      <a style="font-size:5vw;">Good to see you again, {{name}}</a><br>
      {% else %}
      <a style="font-size:5vw;">Welcome to this site</a><br>
      {% endif %}
    </div>
  </div>
</body>
{% endblock %}