{% extends "base.html" %} {% block content %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="static/styles/login.css">
</head>

<div class="login">
    <h3 class="title">Login</h3>
    {% if error %}
    <div class="error-login">
        <img src="/static/img/error.png"><span>{{error}}</span>
    </div>
    {% endif %}
    <div class="box">
        <form method="POST" action="/login">
            <div class="field">
                <img class="icon user-icon" src="/static/img/user-icon.png"><input class="input-field" type="text" name="username" placeholder="User name" autofocus required>
            </div>

            <div class="field">
                <img class="icon key-icon" src="/static/img/key-icon.png"><input class="input-field" type="password" name="psw" placeholder="Password" required>
            </div>

            <div class="field-remember">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <div class="login-button-container">
                <button class="login-button">Login</button>
            </div>
        </form>
    </div>
    {% if reset == True %}
    <div class="reset-password">
        <a href="{{ url_for('auth.password_reset') }}">forgot password</a>
    </div>
    {% endif %}
</div>
{% endblock %}