{% extends "base.html" %} {% block content %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="static/styles/password_reset.css">
    <script type="text/javascript" src="static\scripts\password_reset.js"></script>
</head>

<div class="send-reset-code">
    <h3 class="title">Send password reset code</h3>

    <div class="box">
        {% if not sent %}
        <form method="POST" action="/passwordRest" onsubmit="return isOkMail()">
            <div class="field">
                <input class="input-field" type="text" name="email" placeholder="E-mail" autofocus required>
            </div>
            {% if error %}
            <div class="error-mail">
                <span>{{error}}</span>
            </div>
            {% endif %} {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="error-mail">
                <span>{{messages[0]}}</span>
            </div>
            {% endif %} {% endwith %}
            <div class="send-button-container">
                <button class="send-button">Send code</button>
            </div>
        </form>
        {% else %}
        <div class="sent-msg">
            <span>E-mail with a reset code was sent to <b>{{sent_to}}</b>.</span>
            <br>
            <span>Please check your In-box to continue.</span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}