{% extends "base.html" %} {% block content %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="static/styles/password_reset.css">
</head>

<div class="send-reset-code">
    <h3 class="title"></h3>
    <div class="box">
        <div class="sent-msg">
            <span>Your password was changed.</span>
            <br>
            <span>You will be taken to the login page in a few moments, or click <a href="{{ url_for('auth.login') }}">here</a></span>
        </div>
    </div>
</div>
<script>
    document.onload = setTimeout(function() {
        window.location.href = "{{ url_for('auth.login') }}";
    }, 5000)
</script>
{% endblock %}