{% extends "base.html" %} {% block content %}

<head>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='styles/password_reset_2nd_phase.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/password_reset_2nd_phase.js') }}"></script>

</head>

<div class="send-reset-code">
    <h3 class="title">Reset password validation</h3>

    <div class="box">
        {% if phase == 'code' %}
        <div class='box-title'>
            <span>Enter reset code:</span>
        </div>
        <form method="POST">
            <div class="field">
                <input class="input-field" type="text" name="code" placeholder="Rest code" autofocus required>
            </div>
            {% if error %}
            <div class="error-code">
                <span>{{error}}</span>
            </div>
            {% endif %}
            <div class="send-button-container">
                <button class="send-button">Submit code</button>
            </div>
        </form>
        {% endif %} {% if phase == 'psw' %}
        <div class='box-title'>
            <span class='box-title'>Enter new password:</span>
        </div>
        <form method="POST" onsubmit="return pswMatch()">
            <div class="field">
                <input id="psw" class="input-field psw" type="password" name="psw" placeholder="New password" autofocus required>
            </div>
            <div id="pswError" class="pswError" hidden></div>
            <div class="field">
                <input class="input-field re-psw" type="password" name="repsw" placeholder="Renter password" required>
            </div>
            <div id="pswErrorMatch" class="pswError" hidden></div>
            {% if error %}
            <div class="error-psw">
                <span>{{error}}</span>
            </div>
            {% endif %}
            <div class="send-button-container-psw">
                <button class="send-button">Change password</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}