<!DOCTYPE html>
<html lang="en">
<title>To Do List</title>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>  
    <h1>Todo List</h1>  
    <div>Add a new todo item:  
        <form action="{{ url_for('toDoList.add') }}" method="POST">  
            <input type="text" name="todoitem">  
            <input type="submit" value="Add Item" class="button">  
        </form>  
    </div>  
    <div>  
        <h2>Incomplete Items</h2>  
        <ul>  
            {% for todo in incomplete %}  
            <li style="font-size: 30pt" class='mark'>{{ todo.text }} <a href="{{ url_for('toDoList.complete', note_id=todo.id) }}">Mark As Complete</a>
                <a href="{{ url_for('toDoList.delete', note_id=todo.id) }}">Delete</a>
            </li>  
            {% endfor %}      
        </ul>  
        <h2>Completed Items</h2>  
        <ul>  
            {% for todo in complete %}  
            <li style="font-size: 30pt">{{ todo.text }}</li>  
            {% endfor %}  
        </ul>  
    </div>  
</body>  
</html>