{% extends "base.html" %} {% block content %}
<title>To Do List</title>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel='stylesheet' type='text/css' media='screen' href="static/styles/toDoList.css">
    <link href='https://fonts.googleapis.com/css?family=Charm' rel='stylesheet'>
</head>

<body>
    <div class='todo-continer'>
        <div><span>I need to do... </span>{% if user_id != None %}
            <input class="todo-input" type="text" name="todoitem" id="todoitem" maxlength="100" autofocus placeholder="this task">
            <input class="todo-input-pencil" type="image" src='/static/img/pencil.png' value="Add Item" onclick="addJq()"> {% else %}
            <input class="todo-input" type="text" name="todoitem" id="todoitem" maxlength="100" autofocus placeholder="this task">
            <input class="todo-input-pencil" type="image" src='/static/img/pencil.png' value="Add Item" onclick="add()"> {% endif %}
        </div>
        <div>
            <ul class="list-items ">
                {% for todo in list_itemss %}
                <li class='{% if todo.complete %}marked{% else %}not-marked{% endif %}' id="task" note_id="{{todo.id}}">
                    <span class="completeJq-item todo-item">{{ todo.text }}</span>
                    <div class="list-item-button-continer">
                        <input type="image" src='/static/img/checkmark.png' value="Complete" title="Toggle status" class="completeJq complete-button">
                        <input class="deleteJq eraser" type="image" src='/static/img/eraser.png' title="Delete" value="Delete">
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        var addLink = "{{ url_for( 'toDoList.add_jq') }}"
        var deleteLink = "{{ url_for( 'toDoList.delete_jp') }}"
        var completeLink = "{{ url_for( 'toDoList.complete_jq') }}"
    </script>
    <script type="text/javascript" src="static\scripts\toDoList.js"></script>
</body>

</html>
{% endblock %}